@import "../../global.scss";

.projects {
  // background-color: #3c096c;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 50px;
  }
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(185, 106, 255, 1) 62%,
    rgba(102, 45, 145, 1) 100%
  );

  .portfolio {
    margin: 10px;
    padding: 15px;
    list-style: none;
    display: flex;
    gap: 4em;

    div {
      font-size: 20px;
      font-weight: 700;
      // margin-right: 30px;
      padding: 5px 20px;
      border-radius: 10px;
      cursor: pointer;
      justify-content: center;
      box-shadow: 0px 0px 2px 2px #000000;

      &.active {
        // background-color: $maincolor;
        color: $maincolor;
      }
      &:hover {
        background-color: $maincolor;
        color: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7em;

    .item {
      width: 240px;
      height: 280px;
      // border-radius: 20px;
      // border: 1px solid black;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 80%;
        object-fit: cover;
        transition: all 0.5s ease;
        z-index: 1;
      }

      &:hover {
        background-color: #e1bfff;
        width: 240px;
        height: 280px;
        border-radius: 50%;
        cursor: pointer;

        img {
          opacity: 0.4;
          z-index: 0;
        }
      }
    }
  }
}
