@import "../../global.scss";

.menu {
  width: 200px;
  height: 130vh;
  background-color: $maincolor;
  position: fixed;
  top: 0;
  right: -200px;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 2s ease;



  &.active {
      right: 0;
      transform: translateX(-400%) translateY(-37%) rotate(90deg) ;
    //   padding-bottom: 200px;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 30px;
      color: white;
      font-weight: 300;
      width: 100%;
      

      li{
          padding-bottom: 35px;
          transform: rotate(-90deg);

        //   margin-bottom: 25px;
          a {
              font-size: inherit;
              color: inherit;
              text-decoration: inherit;
              
              

          }

          &:hover {
              font-weight: 900;
              font-size: 32px;
          }
      }
  }
}
