@import "../../global.scss";

.menu {
  width: 200px;
  height: 100vh;
  background-color: $maincolor;
  position: fixed;
  top: 0;
  right: -200px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 2s ease;



  &.active {
      right: 0;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 30px;
      color: white;
      font-weight: 300;
      width: 60%;

      li{
          margin-bottom: 25px;
          a {
              font-size: inherit;
              color: inherit;
              text-decoration: inherit;
              

          }

          &:hover {
              font-weight: 500;
          }
      }
  }
}
