@import "../../global.scss";

.intro {
  // background-color: #ffffff;
  // #5a189a
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(185, 106, 255, 1) 62%,
    rgba(102, 45, 145, 1) 100%
  );
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 380px;
      height: 400px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      margin-top: 15%;
      animation: backInLeft 2s; /* referring directly to the animation's @keyframe declaration */

      img {
        height: 105%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      animation: backInRight 2s; /* referring directly to the animation's @keyframe declaration */
      //   animation-duration: 2s;
      h1 {
        font-size: 48px;
        margin: 10px 0;
      }
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 30px;

        span {
          font: 30px;
          // color: #b5179e;
          color: #b60808;
        }
        .ityped-cursor {
          font-size: 2.2rem;
          opacity: 1;
          -webkit-animation: blink 0.3s infinite;
          -moz-animation: blink 0.3s infinite;
          animation: blink 0.3s infinite;
          animation-direction: alternate;
        }

        @keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;

      img {
        width: 40px;
        animation: flash 3s infinite;
      }
    }
  }
}
